body{
    font-family:
    "Microsoft YaHei",
    Arial,
    sans-serif;

    margin:40px;

    background:#fafafa;

}


header{

    text-align:center;

}


h1{

    font-size:28px;

}



.search-box{

    margin:30px 0;

    padding:20px;

    background:white;

    border-radius:10px;

}


label{

    margin-right:15px;

}


select,input,button{

    padding:6px 10px;

    font-size:14px;

}


button{

    cursor:pointer;

}



table{

    width:100%;

    border-collapse:collapse;

    background:white;

}



th,td{

    border:1px solid #ddd;

    padding:10px;

    text-align:center;

}



th{

    background:#f0f0f0;

}



audio{

    width:150px;

}



.pagination{

    margin-top:25px;

    text-align:center;

}


#pageInfo{

    margin:0 20px;

}